@if (users().length > 0) {
  <div class="presence" [title]="'presence.alsoHere' | transloco: { names: names() }">
    <div class="presence__faces">
      @for (user of visible(); track user.userId) {
        <span class="presence__face">
          <app-avatar [userId]="user.userId" [name]="user.displayName" [version]="user.avatarVersion" [size]="28" />
        </span>
      }
      @if (hiddenCount() > 0) {
        <span class="presence__more">+{{ hiddenCount() }}</span>
      }
    </div>
    <span class="presence__label">{{ 'presence.here' | transloco }}</span>
  </div>
}
