<button
  type="button"
  class="action-menu__trigger"
  [attr.aria-label]="ariaLabel() | transloco"
  aria-haspopup="menu"
  [attr.aria-expanded]="open()"
  (click)="toggle($event)"
>
  <i class="pi pi-ellipsis-v"></i>
</button>

@if (open()) {
  <div class="action-menu__panel" role="menu" [style.top.px]="position().top" [style.left.px]="position().left">
    @for (item of items(); track item.label) {
      <button
        type="button"
        role="menuitem"
        class="action-menu__item"
        [class.action-menu__item--danger]="item.danger"
        (click)="select($event, item)"
      >
        <i class="{{ item.icon }}"></i>
        {{ item.label | transloco }}
      </button>
    }
  </div>
}
