@import "tailwindcss";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  color-scheme: light;
}

app-dashboard,
app-matrix-editor,
app-site-work,
app-video-work {
  display: block;
  height: 100%;
}
